body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(jessica-lewis-thepaintedsquare-fJXv46LT7Xk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
body::before{
    content: "";
    position: fixed;
    top: 0;left: 0;width: 100%;height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
.container{
    width: 40%;
    text-align: center;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
h1{
    color: #333;
}
.todo-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    color: black;
}
button{
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color:#f35b3b ;
}
button:hover{
    background-color:#9d260d ;
}
ul{
    list-style: none;
    padding: 0;
    color: black;
}
li{
    background-color: #ffff;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}
li.completed{
    text-decoration: line-through;
    color: grey;
}
.delete-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.delete-btn:hover{
    background-color: darkred;
}
#clear-all{
    margin-top: 10px;
}
#clear-all:hover{
    background-color:#9d260d ;
}
@media(max-width:768px){
    .container{
        width: 80%; 
    }
    .todo-input{
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
    }
    input{
        width: 80%;
        color: black;
    }
    button{
        margin-top: 20px;
        width: 50%;
    }
    ul{
        flex-direction: column;
        width: 100%;
        height: 50%;
        color: black;
    }
}  


